# dependencies
node_modules/
.pnp
.pnp.js

# build
dist/
build/
*.tsbuildinfo

# test
coverage/

# env & secrets
.env
.env.local
.env.*.local
secrets/*.pem
secrets/*.json
!secrets/.gitkeep

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# prisma
prisma/*.db
